.detalhes {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 15px;

  @media (min-width: 992px) {
    width: 100%;
  }

  &__header {
    margin: 0 0 15px;
    font-weight: 100;
  }

  &__body {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;

    &__item {
      margin-bottom: 10px;
      font-size: 16px;
      text-transform: capitalize;
      color: #777;
    }
  }
}
