.header__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media(min-width: 992px){
    flex-direction: row;
  }
  &__item--select {
    height: 42px;
    box-sizing: content-box;
    background: #fff;

    option {
      height: 40px;
    }
  }

  &__item--input {
    height: 40px;
  }

  &__item--select,
  &__item--input {
    margin: 0;
    font-size: 17px;
    color: #444;
    padding: 5px 0 0 5px;
    margin-bottom: 20px;
    @media (min-width: 992px) {
      width: 40%;
    }

    &::placeholder {
      color: #999;
    }
  }

  &__submit {
    background-color: #535353;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
    width: 100px;
    height: 45px;
    @media (min-width: 992px) {
      width: 10%;
    }
  }
}
