.header {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  height: 300px;

  &.header--home {
    padding: 70px 0;
  }

  &.header--processo {
    padding: 0;
  }

  &__title {
    margin: 0;
  }

  &__erros{
    color: #ff2277;
    font-size: 14px;
    margin-top: 30px;
    @media(min-width: 992px){
      margin-top: 0;
    }
  }
}

.container.container--header {
  flex-direction: column;
  padding: 0 15px;
  height: 320px;
  justify-content: flex-start;
  @media(min-width: 992px){
    padding: 0;
    height: 180px;
  }
}
