@import "./header.scss";
@import "./form.scss";
@import "./processo.scss";
@import "./movimentacoes.scss";
@import "./partes.scss";
@import "./detalhes.scss";
@import "./loading.scss";

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  @media (min-width: 1200px) {
    width: 1024px;
  }
}

.no-process{
  display: flex;
  margin: auto;
  margin-top: 15px;
  padding-left: 15px;
  justify-content: left;
  font-size: 28px;
}