.movimentacoes {
  display: flex;
  flex-direction: column;
  border: 1px solid #989898;

  &__header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #ddd;

    &__title {
      padding-left: 15px;
      margin: 0;
      font-weight: 100;
    }
  }

  &__body {
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
      display: flex;
      flex-direction: column;
      min-height: 40px;
      justify-content: space-between;
      padding: 15px 20px;
      border-bottom: 1px solid #989898;

      &:last-child {
        border-bottom: 0;
      }

      &__data {
        margin-bottom: 5px;
        font-size: 12px;
        color: #aaa;
      }

      &__movimentacao {
        color: #444;
      }
    }
  }
}
