.partes {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 15px;

  @media (min-width: 992px) {
    width: 100%;
  }

  &__header {
    margin: 0 0 15px;
    font-weight: 100;
  }

  &__body {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;

    &__item {
      min-height: 30px;
      margin-bottom: 15px;
      text-transform: capitalize;
      color: #777;
      &__nome {
        font-size: 16px;
        margin-bottom: 5px;
      }

      &__cargo {
        font-size: 14px;
      }
    }
  }
}
