.processo {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  position: relative;

  &__main {
    padding: 0 15px;
    @media (min-width: 992px) {
      padding: 0;
      width: 66%;
      margin-right: 10px;
    }
  }

  &__aside {
    padding: 0 15px;
    @media (min-width: 992px) {
      padding: 0;
      width: 33.33333%;
    }
  }

  &__header {
    padding: 0 15px;
    margin-bottom: 21px;

    @media (min-width: 992px) {
      padding: 0;
    }
    &__title {
      margin-bottom: 0;
    }

    &__data {
      margin-bottom: 0;
      color: #777;
    }
  }
}

.container.container--processo {
  justify-content: flex-start;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}
